/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/**
 * Extensions of the default styling goes here
 */
@font-face {
  font-family: "Metropolis";
  src: url("../font/Metropolis-Regular.woff2");
  font-weight: normal;
  font-style: normal;
}
body, html {
  position: relative;
  background-color: #ffffff;
  color: #695634;
  font-family: "Metropolis", sans-serif;
  font-size: 14px;
  line-height: 1.4em;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Forum", cursive;
  font-size: 1rem;
  line-height: 1.4em;
}

/**
 * First fold styling goes here
 */
.section--first-fold {
  background-color: #EDE5DC;
}
@media (max-width: 914px) {
  .section--first-fold {
    max-width: calc(100vw - 40px);
  }
}
@media (min-width: 915px) {
  .section--first-fold {
    max-width: calc(100vw - 60px);
    height: 520px;
  }
}
@media (max-width: 914px) {
  .section--first-fold .fold__main {
    display: flex;
    flex-direction: column;
  }
}
@media (min-width: 915px) {
  .section--first-fold .fold__main {
    max-width: 900px;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    margin: 0 auto;
  }
}
.section--first-fold .title {
  font-family: "Metropolis", sans-serif;
  text-transform: uppercase;
}
@media (max-width: 914px) {
  .section--first-fold .title {
    padding: 3rem 0 2rem 3rem;
    font-size: 1.5rem;
  }
}
@media (min-width: 915px) {
  .section--first-fold .title {
    position: absolute;
    top: 3rem;
    left: 5rem;
    font-size: 1.5rem;
  }
}
.section--first-fold .greeting {
  font-family: "Forum", cursive;
}
@media (max-width: 914px) {
  .section--first-fold .greeting {
    font-size: 1.75rem;
    line-height: 1.3em;
    align-self: flex-end;
    max-width: calc(80% - 1rem);
    padding: 1rem 1rem 1rem 0;
  }
}
@media (min-width: 915px) {
  .section--first-fold .greeting {
    position: absolute;
    font-size: 2rem;
    line-height: 1.3em;
    max-width: 400px;
    left: 480px;
    top: 100px;
  }
}
.section--first-fold .image--avatar-1 {
  background-color: #fcfcfc;
  width: 80%;
  height: 300px;
}
@media (max-width: 914px) {
  .section--first-fold .image--avatar-1 {
    align-self: flex-end;
  }
}
@media (min-width: 915px) {
  .section--first-fold .image--avatar-1 {
    position: absolute;
    width: 300px;
    left: 150px;
    top: 100px;
  }
}
.section--first-fold .image--avatar-2 {
  background-color: #ccc;
  width: 70%;
  height: 300px;
}
@media (max-width: 914px) {
  .section--first-fold .image--avatar-2 {
    margin-left: 2rem;
    margin-bottom: -2rem;
  }
}
@media (min-width: 915px) {
  .section--first-fold .image--avatar-2 {
    position: absolute;
    width: 250px;
    top: 270px;
    left: 400px;
  }
}
@media (max-width: 914px) {
  .section--first-fold .title {
    order: 1;
  }
  .section--first-fold .greeting {
    order: 3;
  }
  .section--first-fold .image--avatar-1 {
    order: 2;
  }
  .section--first-fold .image--avatar-2 {
    order: 4;
  }
}

/**
 * Nav section styling goes here
 */
@media (min-width: 915px) {
  .section--nav {
    margin-right: 50px;
  }
}
.section--nav .menu--overlay {
  background-color: rgba(0, 0, 0, 0.7);
}
@media (max-width: 914px) {
  .section--nav .menu--overlay {
    position: fixed;
    right: 0;
    top: 0;
    transition: all 0.3s;
  }
}
@media (min-width: 915px) {
  .section--nav .menu--overlay {
    display: none;
  }
}
.section--nav #drawer-toggle {
  opacity: 0;
}
@media (max-width: 914px) {
  .section--nav .menu {
    position: fixed;
    top: 0;
    right: -70vw;
    width: 80vw;
    background-color: #fff;
    transition: right 0.3s;
  }
}
@media (min-width: 915px) {
  .section--nav .menu {
    margin-top: 5rem;
    text-align: right;
  }
}
.section--nav .menu .burger {
  display: block;
  width: 24px;
  height: 24px;
  margin: 0.5rem;
  user-select: none;
}
@media (min-width: 915px) {
  .section--nav .menu .burger {
    display: none;
  }
}
.section--nav .menu .item {
  text-decoration: none;
  color: #695634;
  text-transform: uppercase;
}
@media (max-width: 914px) {
  .section--nav .menu .item {
    display: none;
    padding: 1rem 1.5rem;
  }
}
@media (min-width: 915px) {
  .section--nav .menu .item {
    margin-left: 5%;
  }
}
@media (max-width: 914px) {
  .section--nav #drawer-toggle:checked ~ .menu {
    right: 0;
    height: 100vh;
  }
}
@media (max-width: 914px) {
  .section--nav #drawer-toggle ~ .menu .burger {
    background: url(../img/burger-button.svg) no-repeat;
  }
}
@media (max-width: 914px) {
  .section--nav #drawer-toggle:checked ~ .menu .burger {
    background: url(../img/close-button.svg) no-repeat;
  }
}
@media (max-width: 914px) {
  .section--nav #drawer-toggle:checked ~ .menu--overlay {
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
  }
}
@media (max-width: 914px) {
  .section--nav #drawer-toggle:checked ~ .menu .item {
    display: block;
  }
}

.section--awards {
  margin-top: 3rem;
}
.section--awards .title, .section--awards .subtitle {
  font-family: "Metropolis", sans-serif;
  padding-right: 40px;
}
.section--awards .title {
  margin-top: 4rem;
  text-transform: uppercase;
}
.section--awards .subtitle {
  font-size: 0.85rem;
  margin-top: 0.5rem;
  margin-bottom: 4rem;
  letter-spacing: 0.05rem;
}
.section--awards .awards__list {
  padding: 0;
  margin: 0 0 4rem 0;
}
.section--awards .awards__list .item {
  font-family: "Forum", cursive;
  padding: 0.5rem 0;
}
@media (max-width: 914px) {
  .section--awards .awards__list .item {
    font-size: 1.35rem;
    line-height: 1.1em;
    padding-right: 10px;
    margin-left: -10px;
  }
}
@media (min-width: 915px) {
  .section--awards .awards__list .item {
    font-size: 2rem;
    line-height: 1.4em;
  }
}
.section--awards .awards__main {
  background-color: #EDE5DC;
  padding: 1rem;
  text-align: center;
}
@media (max-width: 914px) {
  .section--awards .awards__main {
    margin-left: 40px;
    padding-left: 2rem;
    padding-right: 2rem;
  }
}
@media (min-width: 915px) {
  .section--awards .awards__main {
    margin-left: 50px;
  }
}

.section--development {
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 4rem;
}
.section--development .title, .section--development .subtitle {
  font-family: "Metropolis", sans-serif;
  text-align: center;
  padding-left: 1rem;
  padding-right: 1rem;
  line-height: 1.5em;
}
.section--development .title {
  margin-top: 4rem;
  text-transform: uppercase;
}
.section--development .subtitle {
  font-size: 0.85rem;
  margin-top: 0.5rem;
  margin-bottom: 4rem;
  letter-spacing: 0.05rem;
}
.section--development .card__grid {
  display: grid;
  grid-gap: 60px;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
}
@media (max-width: 914px) {
  .section--development .card__grid {
    padding-left: 10px;
    padding-right: 10px;
    grid-gap: 10px;
    grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
  }
}
.section--development .card__grid .card .title {
  font-family: "Forum", cursive;
  font-size: 1.5rem;
  text-transform: unset;
  margin: 0 0 1rem 0;
}
.section--development .card__grid .card .image {
  display: block;
  width: 100%;
  height: 380px;
  background-color: #ccc;
  margin-bottom: 1rem;
}
@media (max-width: 914px) {
  .section--development .card__grid .card .image {
    height: 300px;
  }
}
.section--development .card__grid .card .row {
  display: flex;
  align-items: flex-start;
  margin-bottom: 1rem;
}
.section--development .card__grid .card .row > * {
  display: block;
}
.section--development .card__grid .card .row .title {
  text-align: right;
  margin: 0 1rem 0 0;
  padding: unset;
  font-family: "Metropolis", sans-serif;
  font-size: 1rem;
  width: 5rem;
  min-width: 5rem;
  flex-basis: 5rem;
  line-height: 1.4em;
  position: relative;
  font-weight: bold;
  letter-spacing: 0.05rem;
}
.section--development .card__grid .card .row .title:after {
  content: ":";
  position: absolute;
  right: -0.5rem;
  top: 0;
}
.section--development .card__grid .card .row .main {
  font-size: 1rem;
  line-height: 1.4em;
  flex-shrink: 1;
}
.section--development .card__grid .card .row .main ul {
  list-style-type: "-";
  padding-left: 0.5rem;
}
.section--development .card__grid .card .row .main ul li {
  padding-left: 0.5rem;
}
@media (max-width: 914px) {
  .section--development .card__grid .card .row .title, .section--development .card__grid .card .row .main {
    font-size: 0.75rem;
    padding: 0 0.5rem;
  }
  .section--development .card__grid .card .row .title {
    width: 40px;
    min-width: 40px;
    flex-basis: 40px;
    margin-right: 0.5rem;
  }
  .section--development .card__grid .card .row .title:after {
    right: -0.25rem;
  }
}

.section--advisory {
  max-width: 900px;
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 4rem;
}
.section--advisory .title, .section--advisory .subtitle {
  font-family: "Metropolis", sans-serif;
  text-align: center;
  padding-left: 1rem;
  padding-right: 1rem;
  line-height: 1.5em;
}
.section--advisory .title {
  margin-top: 4rem;
  text-transform: uppercase;
}
.section--advisory .subtitle {
  font-size: 0.85rem;
  margin-top: 0.5rem;
  margin-bottom: 4rem;
  letter-spacing: 0.05rem;
}

.section--public-speaking {
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 4rem;
}
.section--public-speaking .title, .section--public-speaking .subtitle {
  font-family: "Metropolis", sans-serif;
  text-align: center;
  padding-left: 1rem;
  padding-right: 1rem;
  line-height: 1.5em;
}
.section--public-speaking .title {
  margin-top: 4rem;
  text-transform: uppercase;
}
.section--public-speaking .subtitle {
  font-size: 0.85rem;
  margin-top: 0.5rem;
  margin-bottom: 4rem;
  letter-spacing: 0.05rem;
}
.section--public-speaking .speaking__grid {
  display: grid;
  grid-gap: 60px;
  grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
  margin-bottom: 2rem;
}
@media (max-width: 914px) {
  .section--public-speaking .speaking__grid {
    padding-left: 10px;
    padding-right: 10px;
    grid-gap: 10px;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    margin-bottom: 2rem;
  }
}
.section--public-speaking .speaking__grid .card .image {
  background-color: #ccc;
  height: 300px;
}
.section--public-speaking .speaking__grid .card .title {
  margin: 0 0 2rem 0;
  padding: 1rem 0 0 0;
  text-transform: unset;
}
.section--public-speaking .cta {
  display: block;
  margin: 0 auto;
  max-width: 800px;
  text-align: center;
  background-color: #695634;
  color: #fff;
  text-decoration: none;
  padding: 1rem 2rem;
  width: 100%;
  font-family: "Forum", cursive;
  font-size: 1.2rem;
}
@media (max-width: 914px) {
  .section--public-speaking .cta {
    width: 80%;
  }
}

.section--outside {
  padding-bottom: 4rem;
}
.section--outside .title, .section--outside .subtitle {
  font-family: "Metropolis", sans-serif;
  text-align: center;
  padding-left: 1rem;
  padding-right: 1rem;
  line-height: 1.5em;
}
.section--outside .title {
  margin-top: 4rem;
  text-transform: uppercase;
}
.section--outside .subtitle {
  font-size: 0.85rem;
  margin-top: 0.5rem;
  margin-bottom: 4rem;
  letter-spacing: 0.05rem;
}

.section--contact {
  background-color: #695634;
  color: #fff;
  padding-bottom: 4rem;
}
.section--contact .title, .section--contact .subtitle {
  font-family: "Metropolis", sans-serif;
  text-align: center;
  padding-left: 1rem;
  padding-right: 1rem;
  line-height: 1.5em;
}
.section--contact .title {
  padding-top: 4rem;
  text-transform: uppercase;
}
.section--contact .subtitle {
  font-size: 0.85rem;
  margin-top: 0.5rem;
  margin-bottom: 4rem;
  letter-spacing: 0.05rem;
}