/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/**
 * Sets up the basic styling of the page
 */
@font-face {
  font-family: "Metropolis";
  src: url("../font/Metropolis-Light.woff2");
  font-weight: normal;
  font-style: normal;
}
/**
 * Extensions of the default styling goes here
 */
body, html {
  position: relative;
  background-color: #ffffff;
  color: #695634;
  font-family: "Libre Caslon Text", cursive;
  font-size: 1rem;
  font-weight: normal;
  text-transform: none;
  letter-spacing: inherit;
  line-height: 1.5em;
  font-size: 14px;
  line-height: 21px;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Metropolis", sans-serif;
  font-size: 1rem;
  font-weight: normal;
  text-transform: none;
  letter-spacing: inherit;
  line-height: 1.5em;
}

.section .section__title {
  font-family: "Metropolis", sans-serif;
  font-size: 1rem;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: inherit;
  line-height: 1.5em;
  text-align: center;
}
.section .section__subtitle {
  font-family: "Metropolis", sans-serif;
  font-size: 0.85rem;
  font-weight: normal;
  text-transform: none;
  letter-spacing: 0.05rem;
  line-height: 1.5em;
  margin-top: 5px;
  margin-bottom: 4rem;
  text-align: center;
}
.section .section__subtitle.light {
  margin-top: 2px;
}

/**
 * First fold styling goes here
 */
.section--first-fold {
  background-color: #EDE5DC;
}
@media (max-width: 914px) {
  .section--first-fold {
    max-width: calc(100vw - 40px);
  }
}
@media (min-width: 915px) {
  .section--first-fold {
    max-width: calc(100vw - 80px);
  }
}
@media (min-width: 915px) and (max-width: 1280px) {
  .section--first-fold {
    height: calc(100vh - 140px);
  }
}
@media (min-width: 1281px) {
  .section--first-fold {
    height: 580px;
  }
}
@media (max-width: 914px) {
  .section--first-fold .fold__main {
    display: flex;
    flex-direction: column;
  }
}
@media (min-width: 915px) {
  .section--first-fold .fold__main {
    position: relative;
    margin: 0 auto;
  }
}
@media (min-width: 1281px) {
  .section--first-fold .fold__main {
    max-width: 900px;
    height: 300px;
  }
}
.section--first-fold .title {
  font-family: "Metropolis", sans-serif;
  font-size: 1rem;
  font-weight: normal;
  text-transform: none;
  letter-spacing: inherit;
  line-height: 1.5em;
  text-transform: uppercase;
}
@media (max-width: 914px) {
  .section--first-fold .title {
    padding: 3rem 0 2rem 3rem;
    font-size: 1.5rem;
  }
}
@media (min-width: 915px) {
  .section--first-fold .title {
    position: absolute;
    font-size: 1.5rem;
    font-weight: lighter;
    top: calc(70px - 1.5rem);
  }
}
@media (min-width: 915px) and (max-width: 1280px) {
  .section--first-fold .title {
    left: 80px;
  }
}
@media (min-width: 1281px) {
  .section--first-fold .title {
    left: 0;
  }
}
.section--first-fold .greeting {
  font-family: "Libre Caslon Text", cursive;
  font-size: 1rem;
  font-weight: normal;
  text-transform: none;
  letter-spacing: inherit;
  line-height: 1.5em;
}
@media (max-width: 914px) {
  .section--first-fold .greeting {
    font-size: 1.75rem;
    line-height: 1.3em;
    align-self: flex-end;
    max-width: calc(80% - 1rem);
    padding: 1rem 1rem 1rem 0;
  }
}
@media (min-width: 915px) {
  .section--first-fold .greeting {
    position: absolute;
    font-size: 2.25rem;
    line-height: 1.4em;
    max-width: 285px;
    top: 120px;
  }
}
@media (min-width: 915px) and (max-width: 1280px) {
  .section--first-fold .greeting {
    left: 720px;
  }
}
@media (min-width: 1281px) {
  .section--first-fold .greeting {
    left: 600px;
  }
}
.section--first-fold .image--avatar-1 {
  background-color: #fcccfc;
}
@media (max-width: 914px) {
  .section--first-fold .image--avatar-1 {
    align-self: flex-end;
  }
}
@media (min-width: 915px) {
  .section--first-fold .image--avatar-1 {
    position: absolute;
    width: 480px;
    height: 380px;
    top: 120px;
  }
}
@media (min-width: 915px) and (max-width: 1280px) {
  .section--first-fold .image--avatar-1 {
    left: 180px;
  }
}
@media (min-width: 1281px) {
  .section--first-fold .image--avatar-1 {
    left: 70px;
  }
}
.section--first-fold .image--avatar-2 {
  background-color: #ccc;
}
@media (max-width: 914px) {
  .section--first-fold .image--avatar-2 {
    margin-left: 2rem;
    margin-bottom: -2rem;
  }
}
@media (min-width: 915px) {
  .section--first-fold .image--avatar-2 {
    position: absolute;
    width: 380px;
    height: 200px;
    top: 420px;
  }
}
@media (min-width: 915px) and (max-width: 1280px) {
  .section--first-fold .image--avatar-2 {
    left: 440px;
  }
}
@media (min-width: 1281px) {
  .section--first-fold .image--avatar-2 {
    left: 330px;
  }
}
@media (max-width: 914px) {
  .section--first-fold .title {
    order: 1;
  }
  .section--first-fold .greeting {
    order: 3;
  }
  .section--first-fold .image--avatar-1 {
    order: 2;
  }
  .section--first-fold .image--avatar-2 {
    order: 4;
  }
}

/**
 * Nav section styling goes here
 */
@media (min-width: 915px) {
  .section--nav {
    margin-right: 100px;
    margin-top: 65px;
  }
}
.section--nav .menu--overlay {
  background-color: rgba(0, 0, 0, 0.7);
}
@media (max-width: 914px) {
  .section--nav .menu--overlay {
    position: fixed;
    right: 0;
    top: 0;
    transition: all 0.3s;
  }
}
@media (min-width: 915px) {
  .section--nav .menu--overlay {
    display: none;
  }
}
.section--nav #drawer-toggle {
  opacity: 0;
}
@media (max-width: 914px) {
  .section--nav .menu {
    position: fixed;
    top: 0;
    right: -70vw;
    width: 80vw;
    background-color: #fff;
    transition: right 0.3s;
  }
  .section--nav .menu .burger {
    display: block;
    width: 24px;
    height: 24px;
    margin: 0.5rem;
    user-select: none;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
  }
}
@media (max-width: 914px) and (min-width: 915px) {
  .section--nav .menu .burger {
    display: none;
  }
}
@media (min-width: 915px) {
  .section--nav .menu {
    text-align: right;
  }
}
.section--nav .menu .item {
  font-family: "Metropolis", sans-serif;
  font-size: 1rem;
  font-weight: normal;
  text-transform: uppercase;
  letter-spacing: inherit;
  line-height: 1.5em;
  text-decoration: none;
  color: #695634;
}
@media (max-width: 914px) {
  .section--nav .menu .item {
    display: none;
    padding: 1rem 1.5rem;
  }
}
@media (min-width: 915px) {
  .section--nav .menu .item {
    margin-left: 5%;
  }
}
@media (max-width: 914px) {
  .section--nav #drawer-toggle:checked ~ .menu {
    right: 0;
    height: 100vh;
  }
}
@media (max-width: 914px) {
  .section--nav #drawer-toggle ~ .menu .burger {
    background: url(../img/burger-button.svg) no-repeat;
  }
}
@media (max-width: 914px) {
  .section--nav #drawer-toggle:checked ~ .menu .burger {
    background: url(../img/close-button.svg) no-repeat;
  }
}
@media (max-width: 914px) {
  .section--nav #drawer-toggle:checked ~ .menu--overlay {
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
  }
}
@media (max-width: 914px) {
  .section--nav #drawer-toggle:checked ~ .menu .item {
    display: block;
  }
}

.section--awards {
  margin-top: 65px;
}
.section--awards .awards__list {
  padding: 0;
  margin: 0 0 4rem 0;
}
.section--awards .awards__list .item {
  font-family: "Libre Caslon Text", cursive;
  font-size: 1rem;
  font-weight: normal;
  text-transform: none;
  letter-spacing: inherit;
  line-height: 1.5em;
  padding: 0.5rem 0;
}
@media (max-width: 914px) {
  .section--awards .awards__list .item {
    font-size: 1.35rem;
    line-height: 1.1em;
    padding-right: 10px;
    margin-left: -10px;
  }
}
@media (min-width: 915px) {
  .section--awards .awards__list .item {
    font-size: 2rem;
    line-height: 1.4em;
  }
}
.section--awards .awards__main {
  background-color: #EDE5DC;
  padding: 1rem;
  text-align: center;
}
@media (max-width: 914px) {
  .section--awards .awards__main {
    margin-left: 40px;
    padding-left: 2rem;
    padding-right: 2rem;
  }
}
@media (min-width: 915px) {
  .section--awards .awards__main {
    margin-left: 80px;
    height: 720px;
  }
}
.section--awards .section__title {
  margin-top: 100px;
}
.section--awards .section__subtitle {
  margin-bottom: 90px;
}

.section--development {
  max-width: 1100px;
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 4rem;
  margin-top: 120px;
}
.section--development .card__grid {
  display: grid;
  grid-gap: 60px;
}
@media (max-width: 914px) {
  .section--development .card__grid {
    padding-left: 10px;
    padding-right: 10px;
    grid-gap: 10px;
    grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
  }
}
@media (min-width: 915px) {
  .section--development .card__grid {
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  }
}
.section--development .card__grid .card .title {
  font-family: "Libre Caslon Text", cursive;
  font-size: 1.5rem;
  font-weight: normal;
  text-transform: none;
  letter-spacing: inherit;
  line-height: 1.5em;
  text-align: center;
  margin: 0 0 1rem 0;
}
.section--development .card__grid .card .image {
  display: block;
  width: 100%;
  height: 380px;
  background-color: #ccc;
  margin-bottom: 1.5rem;
}
@media (max-width: 914px) {
  .section--development .card__grid .card .image {
    height: 300px;
  }
}
@media (min-width: 915px) {
  .section--development .card__grid .card .image {
    height: 250px;
  }
}
.section--development .card__grid .card .row {
  display: flex;
  align-items: flex-start;
  margin-bottom: 1rem;
}
.section--development .card__grid .card .row > * {
  display: block;
}
.section--development .card__grid .card .row .title {
  font-family: "Metropolis", sans-serif;
  font-size: 0.8rem;
  font-weight: bold;
  text-transform: none;
  letter-spacing: 0.05rem;
  line-height: 1.5em;
  text-align: left;
  position: relative;
  flex-basis: 5rem;
  min-width: 5rem;
  width: 5rem;
  margin: 0 1rem 0 0;
}
.section--development .card__grid .card .row .title:after {
  content: ":";
  position: absolute;
  right: -0.5rem;
  top: 0;
}
.section--development .card__grid .card .row .main {
  font-family: "Metropolis", sans-serif;
  font-size: 0.8rem;
  font-weight: normal;
  text-transform: none;
  letter-spacing: inherit;
  line-height: 1.5em;
  flex-shrink: 1;
  padding-right: 1rem;
}
.section--development .card__grid .card .row .main ul {
  list-style-type: "-";
  padding-left: 0.5rem;
}
.section--development .card__grid .card .row .main ul li {
  padding-left: 0.5rem;
}
@media (max-width: 914px) {
  .section--development .card__grid .card .row .title, .section--development .card__grid .card .row .main {
    font-size: 0.75rem;
    padding: 0 0.5rem;
  }
  .section--development .card__grid .card .row .title {
    width: 40px;
    min-width: 40px;
    flex-basis: 40px;
    margin-right: 0.5rem;
  }
  .section--development .card__grid .card .row .title:after {
    right: -0.25rem;
  }
}

.section--advisory {
  max-width: 1280px;
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 4rem;
  margin-top: 120px;
  position: relative;
}
.section--advisory .section__subtitle {
  margin-bottom: 2rem;
}
.section--advisory .expertise__list {
  display: flex;
}
@media (max-width: 914px) {
  .section--advisory .expertise__list {
    flex-wrap: wrap;
    flex-direction: column;
  }
}
@media (min-width: 915px) {
  .section--advisory .expertise__list {
    justify-content: space-between;
  }
}
.section--advisory .expertise__list .card {
  top: 0;
  background: #EDE5DC;
  padding: 2rem;
}
@media (max-width: 914px) {
  .section--advisory .expertise__list .card {
    margin-bottom: 2rem;
  }
  .section--advisory .expertise__list .card:first-child {
    margin-right: 40px;
  }
  .section--advisory .expertise__list .card:last-child {
    margin-left: 40px;
  }
}
@media (min-width: 915px) {
  .section--advisory .expertise__list .card {
    width: 550px;
    padding-bottom: 1rem;
  }
  .section--advisory .expertise__list .card:first-child {
    margin-top: 90px;
  }
  .section--advisory .expertise__list .card:last-child {
    margin-bottom: 90px;
  }
}
.section--advisory .expertise__list .card .title {
  font-family: "Libre Caslon Text", cursive;
  font-size: 1.5rem;
  font-weight: normal;
  text-transform: none;
  letter-spacing: inherit;
  line-height: 1.5em;
  text-align: center;
}
.section--advisory .expertise__list .card .subtitle {
  font-family: "Metropolis", sans-serif;
  font-size: 0.85rem;
  font-weight: normal;
  text-transform: uppercase;
  letter-spacing: 0.05rem;
  line-height: 1.5em;
  margin-top: 2px;
  text-align: center;
}
.section--advisory .expertise__list .card .image {
  background-repeat: no-repeat;
  background-size: cover;
  background-color: #ccc;
  height: 250px;
  margin: 2rem 0;
}
@media (max-width: 914px) {
  .section--advisory .expertise__list .card .image {
    margin: 2rem 0;
  }
}
@media (min-width: 915px) {
  .section--advisory .expertise__list .card .image {
    margin: 2rem auto;
    max-width: 450px;
  }
}
.section--advisory .expertise__list .card .row {
  display: flex;
  align-items: flex-start;
  margin-bottom: 1rem;
}
.section--advisory .expertise__list .card .row > * {
  display: block;
}
@media (min-width: 915px) {
  .section--advisory .expertise__list .card .row {
    max-width: 450px;
    margin-left: auto;
    margin-right: auto;
  }
}
.section--advisory .expertise__list .card .row .label {
  font-family: "Metropolis", sans-serif;
  font-size: 0.85rem;
  font-weight: bold;
  text-transform: none;
  letter-spacing: inherit;
  line-height: 1.5em;
  margin: 0 1rem 0 0;
  padding: unset;
  width: 4rem;
  min-width: 4rem;
  flex-basis: 5rem;
  position: relative;
  padding-left: 1rem;
}
.section--advisory .expertise__list .card .row .label:after {
  content: ":";
  position: absolute;
  right: -0.5rem;
  top: 0;
}
.section--advisory .expertise__list .card .row .main {
  font-family: "Metropolis", sans-serif;
  font-size: 0.85rem;
  font-weight: normal;
  text-transform: none;
  letter-spacing: inherit;
  line-height: 1.5em;
  padding-right: 1rem;
  flex-shrink: 1;
}
.section--advisory .expertise__list .card .row .main ul {
  list-style-type: "-";
  padding-left: 0.5rem;
}
.section--advisory .expertise__list .card .row .main ul li {
  padding-left: 0.5rem;
}
@media (max-width: 914px) {
  .section--advisory .expertise__list .card .row .title, .section--advisory .expertise__list .card .row .main {
    font-size: 0.75rem;
    padding: 0 0.5rem;
  }
  .section--advisory .expertise__list .card .row .title {
    width: 40px;
    min-width: 40px;
    flex-basis: 40px;
    margin-right: 0.5rem;
  }
  .section--advisory .expertise__list .card .row .title:after {
    right: -0.25rem;
  }
}
.section--advisory .cta {
  font-family: "Libre Caslon Text", cursive;
  font-size: 1.5rem;
  font-weight: normal;
  text-transform: none;
  letter-spacing: inherit;
  line-height: 1.5em;
  display: block;
  text-align: center;
  background-color: #695634;
  color: #fff;
  text-decoration: none;
  padding: 1rem 2rem;
  width: 100%;
}
@media (max-width: 914px) {
  .section--advisory .cta {
    width: 80%;
  }
}
@media (min-width: 915px) {
  .section--advisory .cta {
    position: absolute;
    bottom: 70px;
    right: 20px;
    width: calc(50% + 50px);
  }
}

.section--expertise {
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 4rem;
  margin-top: 120px;
}
.section--expertise .cards {
  display: grid;
  grid-gap: 30px;
  grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
  margin-bottom: 2rem;
}
.section--expertise .cards .item {
  background-color: #EDE5DC;
  text-align: center;
  font-family: "Libre Caslon Text", cursive;
  font-size: 1rem;
  font-weight: normal;
  text-transform: none;
  letter-spacing: inherit;
  line-height: 1.2em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  box-shadow: rgba(0, 0, 0, 0.15) 0px 5px 15px;
}
@media (max-width: 914px) {
  .section--expertise .cards .item {
    font-size: 1rem;
    height: 100px;
    padding: 1rem;
    margin: 0;
  }
}
@media (min-width: 915px) {
  .section--expertise .cards .item {
    font-size: 1.5rem;
    height: 200px;
    padding: 2rem;
  }
  .section--expertise .cards .item:nth-child(1) {
    margin-right: 20px;
    z-index: 100;
  }
  .section--expertise .cards .item:nth-child(2) {
    height: calc(200px - 100px);
    margin-top: 40px;
    margin-left: -100px;
    margin-right: 50px;
    z-index: 104;
  }
  .section--expertise .cards .item:nth-child(3) {
    z-index: 101;
    height: calc(200px - 50px);
    margin-left: -50px;
    margin-right: 20px;
  }
  .section--expertise .cards .item:nth-child(4) {
    height: calc(200px - 100px);
    margin-top: -10px;
    margin-left: 50px;
    z-index: 102;
  }
  .section--expertise .cards .item:nth-child(5) {
    margin-top: -100px;
    z-index: 103;
  }
  .section--expertise .cards .item:nth-child(6) {
    z-index: 102;
    margin-left: -50px;
    height: calc(200px - 10px);
  }
}
.section--expertise .cta {
  display: block;
  max-width: 800px;
  text-align: center;
  background-color: #695634;
  color: #fff;
  text-decoration: none;
  padding: 1rem 2rem;
  font-family: "Libre Caslon", cursive;
  font-size: 1.5rem;
}
@media (max-width: 914px) {
  .section--expertise .cta {
    width: 80%;
  }
}
@media (min-width: 915px) {
  .section--expertise .cta {
    width: calc(1120px - 450px);
    margin-top: -90px;
  }
}

.section--public-speaking {
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 4rem;
}
.section--public-speaking .speaking__grid {
  display: grid;
  grid-gap: 60px;
  grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
  margin-bottom: 2rem;
}
@media (max-width: 914px) {
  .section--public-speaking .speaking__grid {
    padding-left: 10px;
    padding-right: 10px;
    grid-gap: 10px;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    margin-bottom: 2rem;
  }
}
.section--public-speaking .speaking__grid .card .image {
  background-color: #ccc;
  height: 300px;
}
.section--public-speaking .speaking__grid .card .title {
  margin: 0 0 2rem 0;
  padding: 1rem 0 0 0;
  text-transform: unset;
}
.section--public-speaking .cta {
  display: block;
  margin: 0 auto;
  max-width: 800px;
  text-align: center;
  background-color: #695634;
  color: #fff;
  text-decoration: none;
  padding: 1rem 2rem;
  width: 100%;
  font-family: "Libre Caslon", cursive;
  font-size: 1.5rem;
}
@media (max-width: 914px) {
  .section--public-speaking .cta {
    width: 80%;
  }
}

.section--outside {
  padding-top: 2rem;
  padding-bottom: 4rem;
  background-color: #EDE5DC;
}

.section--contact {
  background-color: #695634;
  color: #EDE5DC;
  padding-bottom: 30px;
  padding-top: 80px;
}
.section--contact .section__subtitle {
  margin-bottom: 100px;
}
.section--contact .socials {
  max-width: 800px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  justify-content: space-evenly;
  margin-bottom: 100px;
}
.section--contact .socials .item {
  text-align: center;
}
.section--contact .socials .item svg {
  background-color: #ccc;
}
.section--contact .socials .fas, .section--contact .socials .fab {
  background-color: #888;
  border-radius: 5px;
  width: 48px;
  line-height: 48px;
  font-size: 2rem;
  text-align: center;
}
.section--contact .socials .title {
  margin: unset;
  padding: 1rem 0 0 0;
  font-family: "Libre Caslon Text", cursive;
  font-size: 1.5rem;
  font-weight: normal;
  text-transform: none;
  letter-spacing: inherit;
  line-height: 1.5em;
}
.section--contact .copyright {
  font-family: "Metropolis", sans-serif;
  font-size: 0.8rem;
  font-weight: normal;
  text-transform: none;
  letter-spacing: inherit;
  line-height: 1.5em;
  text-align: center;
}
.section--contact .copyright .main {
  line-height: 1.5em;
}
.section--contact .copyright .sub {
  margin-top: 2rem;
  color: #aaa;
}