/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/**
 * Extensions of the default styling goes here
 */
@font-face {
	font-family: 'Metropolis';
	src: url('../font/Metropolis-Regular.woff2');
	font-weight: normal;
	font-style: normal;
}

// @font-face {
// 	font-family: 'Metropolis';
// 	src: url('../font/Metropolis-Thin.woff2');
// 	font-weight: lighter;
// 	font-style: normal;
// }

$font-color: #695634;
$font-color-darker: #493614;
$background-color: #EDE5DC;
$normal-font-family: 'Forum', cursive;
$primary-font-family: 'Metropolis', sans-serif;
@mixin media-mobile {
  @media (max-width: 914px) {
    @content;
  }
}

@mixin media-desktop {
  @media (min-width: 915px) {
    @content;
  }
}

@mixin max-width($width: 900px) {
	max-width: $width;
	margin-left: auto;
	margin-right: auto;
}

body,html {
	position: relative;
	background-color: #ffffff;
	color: $font-color;
	font-family: $primary-font-family;
	font-size: 14px;
	line-height: 1.4em;
	// letter-spacing: 0.02rem;
}

h1, h2, h3, h4, h5, h6 {
	font-family: $normal-font-family;
	font-size: 1rem;
	line-height: 1.4em;
}

/**
 * First fold styling goes here
 */
.section--first-fold {
	background-color: $background-color;

	@include media-mobile {
		max-width: calc(100vw - 40px);
	}

	@include media-desktop {
		max-width: calc(100vw - 60px);
		height: 520px;
	}

	.fold__main {
		@include media-mobile {
			display: flex;
			flex-direction: column;
		}

		@include media-desktop {
			@include max-width;
			position: relative;
			margin: 0 auto;
		}
	}

	.title {
		font-family: $primary-font-family;
		text-transform: uppercase;
		// font-weight: lighter;

		@include media-mobile {
			padding: 3rem 0 2rem 3rem;
			font-size: 1.5rem;
		}

		@include media-desktop {
			position: absolute;
			top: 3rem;
			left: 5rem;
			font-size: 1.5rem;
		}
	}

	.greeting {
		font-family: $normal-font-family;
		@include media-mobile {
			font-size: 1.75rem;
			line-height: 1.3em;
			align-self: flex-end;
			max-width: calc(80% - 1rem);
			padding: 1rem 1rem 1rem 0;
		}

		@include media-desktop {
			position: absolute;
			font-size: 2rem;
			line-height: 1.3em;
			max-width: 400px;
			left: 480px;
			top: 100px;
		}
	}

	.image--avatar-1 {
		background-color: #fcfcfc;
		width: 80%;
		height: 300px;

		@include media-mobile {
			align-self: flex-end;
		}

		@include media-desktop {
			position: absolute;
			width: 300px;
			left: 150px;
			top: 100px;
		}
	}

	.image--avatar-2 {
		background-color: #ccc;
		width: 70%;
		height: 300px;

		@include media-mobile {
			margin-left: 2rem;	
			margin-bottom: -2rem;
		}

		@include media-desktop {
			position: absolute;
			width: 250px;
			top: 270px;
			left: 400px;
		}
	}

	// Child element ordering
	@include media-mobile {
		.title 						{ order: 1; }
		.greeting 				{ order: 3; }
		.image--avatar-1 	{ order: 2; }
		.image--avatar-2 	{ order: 4; }
	}
}

/**
 * Nav section styling goes here
 */
.section--nav {
	@include media-desktop {
		margin-right: 50px;
	}

	.menu--overlay {
		background-color: rgba(0, 0, 0, 0.7);

		@include media-mobile {
			position: fixed;
			right: 0; top: 0;
			transition: all .3s;
		}

		@include media-desktop {
			display: none;
		}
	}

	#drawer-toggle {
		opacity: 0;
	}

	.menu {
		@include media-mobile {
			position: fixed;
			top: 0;
			right: -70vw;
			width: 80vw;

			background-color: #fff;
			transition: right .3s;
		}

		@include media-desktop {
			margin-top: 5rem;
			text-align: right;
		}

		.burger {
			display: block;
			width: 24px; height: 24px;
			margin: .5rem;

			user-select: none;
			-webkit-touch-callout: none; 
			-webkit-user-select: none; 
			-khtml-user-select: none; 
			-moz-user-select: none; 
			-ms-user-select: none; 

			@include media-desktop {
				display: none;
			}
		}

		.item {
			text-decoration: none;
			color: $font-color;
			// font-weight: bold;
			text-transform: uppercase;

			@include media-mobile {
				display: none;
				padding: 1rem 1.5rem;
			}

			@include media-desktop {
				margin-left: 5%;
			}
		}
	}

	#drawer-toggle:checked ~ .menu {
		@include media-mobile {
			right: 0;
			height: 100vh;
		}
	}

	#drawer-toggle ~ .menu .burger {
		@include media-mobile {
			background: url(../img/burger-button.svg) no-repeat;
		}
	}

	#drawer-toggle:checked ~ .menu .burger {
		@include media-mobile {
			background: url(../img/close-button.svg) no-repeat;
		}	
	}

	#drawer-toggle:checked ~ .menu--overlay {
		@include media-mobile {
			left: 0; right: 0;
			top: 0; bottom: 0;
		}
	}

	#drawer-toggle:checked ~ .menu .item {
		@include media-mobile {
			display: block;
		}
	}
}

.section--awards {
	margin-top: 3rem;

	.title, .subtitle {
		font-family: $primary-font-family;
		padding-right: 40px;
	}

	.title {
		margin-top: 4rem;
		text-transform: uppercase;
	}

	.subtitle {
		font-size: .85rem;
		margin-top: .5rem;
		margin-bottom: 4rem;
		letter-spacing: 0.05rem;
	}

	.awards__list {
		padding: 0;
		margin: 0 0 4rem 0;

		.item {
			font-family: $normal-font-family;
			padding: .5rem 0;

			@include media-mobile {
				font-size: 1.35rem;
				line-height: 1.1em;
				padding-right: 10px;
				margin-left: -10px;
			}

			@include media-desktop {
				font-size: 2rem;
				line-height: 1.4em;
			}
		}
	}

	.awards__main {
		background-color: $background-color;
		padding: 1rem;
		text-align: center;

		@include media-mobile {
			margin-left: 40px;
			padding-left: 2rem;
			padding-right: 2rem;
		}

		@include media-desktop {
			margin-left: 50px;
		}
	}
}

.section--development {
	@include max-width($width: 1200px);
	padding-bottom: 4rem;

	.title, .subtitle {
		font-family: $primary-font-family;
		text-align: center;
		padding-left: 1rem;
		padding-right: 1rem;
		line-height: 1.5em;
	}

	.title {
		margin-top: 4rem;
		text-transform: uppercase;
	}

	.subtitle {
		font-size: .85rem;
		margin-top: .5rem;
		margin-bottom: 4rem;
		letter-spacing: 0.05rem;
	}

	.card__grid {
		display: grid;
	  grid-gap: 60px;
	  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));

	  @include media-mobile {
			padding-left: 10px;
			padding-right: 10px;
			grid-gap: 10px;
			grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
	  }

	  .card {
	  	.title {
	  		font-family: $normal-font-family;
	  		font-size: 1.5rem;
	  		text-transform: unset;
	  		margin: 0 0 1rem 0;
	  	}

	  	.image {
	  		display: block;
	  		width: 100%;
	  		height: 380px;
	  		background-color: #ccc;
	  		margin-bottom: 1rem;

	  		@include media-mobile {
	  			height: 300px;
	  		}
	  	}

	  	.row {
	  		display: flex;
	  		align-items: flex-start;
	  		margin-bottom: 1rem;

	  		& > * {
	  			display: block;
	  		}

	  		.title {
	  			text-align: right;
	  			margin: 0 1rem 0 0;
	  			padding: unset;
	  			font-family: $primary-font-family;
	  			font-size: 1rem;
	  			width: 5rem;
	  			min-width: 5rem;
	  			flex-basis:  5rem;
	  			line-height: 1.4em;
	  			position: relative;
	  			font-weight: bold;
	  			letter-spacing: .05rem;

	  			&:after {
	  				content: ':';
	  				position: absolute;
	  				right: -.5rem;
	  				top: 0;

	  			}
	  		}

	  		.main {
	  			font-size: 1rem;
	  			line-height: 1.4em;
	  			flex-shrink: 1;
	  			padding-right: 1rem;

	  			ul {
	  				list-style-type: '-';
	  				padding-left: .5rem;

	  				li {
	  					padding-left: .5rem;
	  				}
	  			}
	  		}

	  		@include media-mobile {
	  			.title, .main {
	  				font-size: .75rem;
	  				padding: 0 .5rem;
	  			}

	  			.title {
	  				width: 40px;
	  				min-width: 40px;
	  				flex-basis: 40px;
	  				margin-right: .5rem;

	  				&:after {
	  					right: -.25rem;
	  				}
	  			}
	  		}
	  	}
	  }
	}
}

.section--advisory {
	@include max-width($width: 1200px);
	padding-bottom: 4rem;
	position: relative;

	.title, .subtitle {
		font-family: $primary-font-family;
		text-align: center;
		padding-left: 1rem;
		padding-right: 1rem;
		line-height: 1.5em;
	}

	.title {
		margin-top: 4rem;
		text-transform: uppercase;
	}

	.subtitle {
		font-size: .85rem;
		margin-top: .5rem;
		margin-bottom: 4rem;
		letter-spacing: 0.05rem;
	}

	.expertise__list {
		display: flex;

		@include media-mobile {
			flex-direction: column;
		}

		.card {
			top: 0;

			background: $background-color;
			padding: 2rem;
			
			@include media-mobile {
				margin-bottom: 2rem;

				&:first-child {
					margin-right: 40px;
				}

				&:last-child {
					margin-left: 40px;
				}
			}

			@include media-desktop {
				max-width: 600px;
				width: 50%;
				padding-bottom: 6rem;
				margin: 2rem;

				&:first-child {
					margin-left: 0;
					margin-top: 100px;
				}

				&:last-child {
					margin-right: 0;
					margin-bottom: 100px;
				}
			}

			.title {
				margin: unset; padding: unset; font-size: unset; text-transform: unset;
				font-family: $normal-font-family;
				font-size: 2rem;
			}

			.subtitle {
				margin: unset; padding: unset; font-size: unset; text-transform: unset;
			}

			.image {
				background-color: #ccc;
				height: 300px;
				margin: 2rem 0;
			}

			.row {
	  		display: flex;
	  		align-items: flex-start;
	  		margin-bottom: 1rem;

	  		& > * {
	  			display: block;
	  		}

	  		.title {
	  			text-align: right;
	  			margin: 0 1rem 0 0;
	  			padding: unset;
	  			font-family: $primary-font-family;
	  			font-size: 1rem;
	  			width: 5rem;
	  			min-width: 5rem;
	  			flex-basis:  5rem;
	  			line-height: 1.4em;
	  			position: relative;
	  			font-weight: bold;
	  			letter-spacing: .05rem;

	  			&:after {
	  				content: ':';
	  				position: absolute;
	  				right: -.5rem;
	  				top: 0;

	  			}
	  		}

	  		.main {
	  			font-size: 1rem;
	  			line-height: 1.4em;
	  			flex-shrink: 1;

	  			ul {
	  				list-style-type: '-';
	  				padding-left: .5rem;

	  				li {
	  					padding-left: .5rem;
	  				}
	  			}
	  		}

	  		@include media-mobile {
	  			.title, .main {
	  				font-size: .75rem;
	  				padding: 0 .5rem;
	  			}

	  			.title {
	  				width: 40px;
	  				min-width: 40px;
	  				flex-basis: 40px;
	  				margin-right: .5rem;

	  				&:after {
	  					right: -.25rem;
	  				}
	  			}
	  		}
	  	}
		}
	}

	.cta {
		display: block;
		text-align: center;
		background-color: $font-color;
		color: #fff;
		text-decoration: none;
		padding: 1rem 2rem;
		width: 100%;
		font-family: $normal-font-family;
		font-size: 1.5rem;

		@include media-mobile {
			width: 80%;
		}

		@include media-desktop {
			position: absolute;
			bottom: 100px; right: 20px;
			width: calc(50% + 50px);
		}
	}
}

.section--expertise {
	@include max-width($width: 1200px);
	padding-bottom: 4rem;

	.title, .subtitle {
		font-family: $primary-font-family;
		text-align: center;
		padding-left: 1rem;
		padding-right: 1rem;
		line-height: 1.5em;
	}

	.title {
		margin-top: 4rem;
		text-transform: uppercase;
	}

	.subtitle {
		font-size: .85rem;
		margin-top: .5rem;
		margin-bottom: 4rem;
		letter-spacing: 0.05rem;
	}

	.cards {
		display: grid;
	  grid-gap: 30px;
	  grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
	  margin-bottom: 2rem;

	  .item {
	  	background-color: $background-color;
	  	padding: 2rem;
	  	text-align: center;
	  	font-family: $normal-font-family;
	  	font-size: 1.5rem;
	  	line-height: 1.2em;
	  	height: 200px;

	  	display: flex;
	  	flex-direction: column;
	  	justify-content: center;

	  	box-shadow: rgba(0, 0, 0, 0.15) 0px 5px 15px;

	  	&:nth-child(1) {
	  		margin-right: 20px;
	  		z-index: 100;
	  	}

	  	&:nth-child(2) {
	  		height: calc(200px - 100px);
	  		margin-top: 40px;
	  		margin-left: -100px;
	  		margin-right: 50px;
	  		z-index: 104;
	  	}

	  	&:nth-child(3) {
	  		z-index: 101;
	  		height: calc(200px - 50px);
	  		margin-left: -50px;
	  		margin-right: 20px;
	  	}

	  	&:nth-child(4) {
	  		height: calc(200px - 100px);
	  		margin-top: -10px;
	  		margin-left: 50px;	
	  		z-index: 102;
	  	}

	  	&:nth-child(5) {
	  		margin-top: -100px;
	  		z-index: 103;
	  	}

	  	&:nth-child(6) {
	  		z-index: 102;
	  		margin-left: -50px;
	  		height: calc(200px - 10px);
	  	}
	  }
	}

	.cta {
		display: block;
		max-width: 800px;
		text-align: center;
		background-color: $font-color;
		color: #fff;
		text-decoration: none;
		padding: 1rem 2rem;
		
		font-family: $normal-font-family;
		font-size: 1.5rem;

		@include media-mobile {
			width: 80%;
		}

		@include media-desktop {
			width: calc(1120px - 450px);
			margin-top: -90px;
		}
	}
}

.section--public-speaking {
	@include max-width($width: 1200px);
	padding-bottom: 4rem;

	.title, .subtitle {
		font-family: $primary-font-family;
		text-align: center;
		padding-left: 1rem;
		padding-right: 1rem;
		line-height: 1.5em;
	}

	.title {
		margin-top: 4rem;
		text-transform: uppercase;
	}

	.subtitle {
		font-size: .85rem;
		margin-top: .5rem;
		margin-bottom: 4rem;
		letter-spacing: 0.05rem;
	}

	.speaking__grid {
		display: grid;
	  grid-gap: 60px;
	  grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
	  margin-bottom: 2rem;

	  @include media-mobile {
			padding-left: 10px;
			padding-right: 10px;
			grid-gap: 10px;
			grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
			margin-bottom: 2rem;
	  }

	  .card {
		  .image {
		  	background-color: #ccc;
		  	height: 300px;
		  }

		  .title {
		  	margin: 0 0 2rem 0; padding: 1rem 0 0 0;
		  	text-transform: unset;
		  }
	  }
	}

	.cta {
		display: block;
		margin: 0 auto;
		max-width: 800px;
		text-align: center;
		background-color: $font-color;
		color: #fff;
		text-decoration: none;
		padding: 1rem 2rem;
		width: 100%;
		font-family: $normal-font-family;
		font-size: 1.5rem;

		@include media-mobile {
			width: 80%;
		}
	}
}

.section--outside {
	padding-top: 2rem;
	padding-bottom: 4rem;
	background-color: $background-color;

	.title, .subtitle {
		font-family: $primary-font-family;
		text-align: center;
		padding-left: 1rem;
		padding-right: 1rem;
		line-height: 1.5em;
	}

	.title {
		margin-top: 4rem;
		text-transform: uppercase;
	}

	.subtitle {
		font-size: .85rem;
		margin-top: .5rem;
		margin-bottom: 4rem;
		letter-spacing: 0.05rem;
	}
}

.section--contact {
	background-color: $font-color;
	color: #fff;
	padding-bottom: 4rem;

	.title, .subtitle {
		font-family: $primary-font-family;
		text-align: center;
		padding-left: 1rem;
		padding-right: 1rem;
		line-height: 1.5em;
	}

	.title {
		padding-top: 4rem;
		text-transform: uppercase;
	}

	.subtitle {
		font-size: .85rem;
		margin-top: .5rem;
		margin-bottom: 4rem;
		letter-spacing: 0.05rem;
	}

	.socials {
		@include max-width;
		display: flex;
		justify-content: space-between;
		margin-bottom: 4rem;

		.item {
			text-align: center;
		}

		.icon {
			display: inline-block;
			width: 24px;
			height: 24px;
			background-repeat: no-repeat;

			&.email { background-image: url(../img/email.svg); }
			&.linkedin { background-image: url(../img/linkedin.svg); }
			&.facebook { background-image: url(../img/facebook.svg); }
			&.instagram { background-image: url(../img/instagram.svg); }
		}

		.title {
			margin: unset; padding: 1rem 0 0 0;
		}
	}

	.copyright {
		text-align: center;
		padding-bottom: 4rem;
		font-size: .85rem;

		.main {
			line-height: 1.5em;
		}

		.sub {
			margin-top: 2rem;
			color: #aaa;
		}
	}
}