/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/**
 * Extensions of the default styling goes here
 */
@font-face {
	font-family: 'Metropolis';
	src: url('../font/Metropolis-Regular.woff2');
	font-weight: normal;
	font-style: normal;
}

// @font-face {
// 	font-family: 'Metropolis';
// 	src: url('../font/Metropolis-Thin.woff2');
// 	font-weight: lighter;
// 	font-style: normal;
// }

$font-color: #695634;
$font-color-darker: #493614;
$background-color: #EDE5DC;
$primary-font-family: 'Forum', cursive;
$normal-font-family: 'Metropolis', sans-serif;
@mixin media-mobile {
  @media (max-width: 914px) {
    @content;
  }
}

@mixin media-desktop {
  @media (min-width: 915px) {
    @content;
  }
}

@mixin max-width {
	max-width: 850px;
	margin-left: auto;
	margin-right: auto;
}

body,html {
	position: relative;
	background-color: #ffffff;
	color: $font-color;
	font-family: $normal-font-family;
	font-size: 14px;
	line-height: 1.4em;
	// letter-spacing: 0.02rem;
}

h1, h2, h3, h4, h5, h6 {
	font-family: $primary-font-family;
	font-size: 1rem;
	line-height: 1.4em;
}

/**
 * First fold styling goes here
 */
.section--first-fold {
	background-color: $background-color;

	@include media-mobile {
		max-width: calc(100vw - 40px);
	}

	@include media-desktop {
		max-width: calc(100vw - 60px);
		height: 520px;
	}

	.fold__main {
		@include media-mobile {
			display: flex;
			flex-direction: column;
		}

		@include media-desktop {
			@include max-width;
			position: relative;
			margin: 0 auto;
		}
	}

	.title {
		text-transform: uppercase;
		font-family: $normal-font-family;
		// font-weight: lighter;

		@include media-mobile {
			padding: 3rem 0 2rem 3rem;
			font-size: 1.5rem;
		}

		@include media-desktop {
			position: absolute;
			top: 3rem;
			left: 5rem;
			font-size: 1.5rem;
		}
	}

	.greeting {
		font-family: $primary-font-family;

		@include media-mobile {
			font-size: 1.75rem;
			line-height: 1.3em;
			align-self: flex-end;
			max-width: calc(80% - 1rem);
			padding: 1rem 1rem 1rem 0;
		}

		@include media-desktop {
			position: absolute;
			font-size: 2rem;
			line-height: 1.3em;
			max-width: 400px;
			left: 480px;
			top: 100px;
		}
	}

	.image--avatar-1 {
		background-color: #fcfcfc;
		width: 80%;
		height: 300px;

		@include media-mobile {
			align-self: flex-end;
		}

		@include media-desktop {
			position: absolute;
			width: 300px;
			left: 150px;
			top: 100px;
		}
	}

	.image--avatar-2 {
		background-color: #ccc;
		width: 70%;
		height: 300px;

		@include media-mobile {
			margin-left: 2rem;	
			margin-bottom: -2rem;
		}

		@include media-desktop {
			position: absolute;
			width: 250px;
			top: 270px;
			left: 400px;
		}
	}

	// Child element ordering
	@include media-mobile {
		.title 						{ order: 1; }
		.greeting 				{ order: 3; }
		.image--avatar-1 	{ order: 2; }
		.image--avatar-2 	{ order: 4; }
	}
}

/**
 * Nav section styling goes here
 */
.section--nav {
	@include media-desktop {
		margin-right: 50px;
	}

	.menu--overlay {
		background-color: rgba(0, 0, 0, 0.7);

		@include media-mobile {
			position: fixed;
			right: 0; top: 0;
			transition: all .3s;
		}

		@include media-desktop {
			display: none;
		}
	}

	#drawer-toggle {
		opacity: 0;
	}

	.menu {
		@include media-mobile {
			position: fixed;
			top: 0;
			right: -70vw;
			width: 80vw;

			background-color: #fff;
			transition: right .3s;
		}

		@include media-desktop {
			margin-top: 5rem;
			text-align: right;
		}

		.burger {
			display: block;
			width: 24px; height: 24px;
			margin: .5rem;

			user-select: none;

			@include media-desktop {
				display: none;
			}
		}

		.item {
			text-decoration: none;
			color: $font-color;
			// font-weight: bold;
			text-transform: uppercase;

			@include media-mobile {
				display: none;
				padding: 1rem 1.5rem;
			}

			@include media-desktop {
				margin-left: 5%;
			}
		}
	}

	#drawer-toggle:checked ~ .menu {
		@include media-mobile {
			right: 0;
			height: 100vh;
		}
	}

	#drawer-toggle ~ .menu .burger {
		@include media-mobile {
			background: url(../img/burger-button.svg) no-repeat;
		}
	}

	#drawer-toggle:checked ~ .menu .burger {
		@include media-mobile {
			background: url(../img/close-button.svg) no-repeat;
		}	
	}

	#drawer-toggle:checked ~ .menu--overlay {
		@include media-mobile {
			left: 0; right: 0;
			top: 0; bottom: 0;
		}
	}

	#drawer-toggle:checked ~ .menu .item {
		@include media-mobile {
			display: block;
		}
	}
}

.section--awards {
	margin-top: 3rem;

	.title, .subtitle {
		font-family: $normal-font-family;
		padding-right: 40px;
	}

	.title {
		margin-top: 4rem;
		text-transform: uppercase;
	}

	.subtitle {
		font-size: .85rem;
		margin-top: .5rem;
		margin-bottom: 4rem;
		letter-spacing: 0.05rem;
	}

	.awards__list {
		font-family: $primary-font-family;

		padding: 0;
		margin: 0 0 4rem 0;

		.item {
			padding: .5rem 0;

			@include media-mobile {
				font-size: 1.35rem;
				line-height: 1.1em;
				padding-right: 10px;
				margin-left: -10px;
			}

			@include media-desktop {
				font-size: 2rem;
				line-height: 1.4em;
			}
		}
	}

	.awards__main {
		background-color: $background-color;
		padding: 1rem;
		text-align: center;

		@include media-mobile {
			margin-left: 40px;
			padding-left: 2rem;
			padding-right: 2rem;
		}

		@include media-desktop {
			margin-left: 50px;
		}
	}
}

.section--development {
	@include max-width;
	padding-bottom: 4rem;

	.title, .subtitle {
		font-family: $normal-font-family;
		text-align: center;
		padding-left: 1rem;
		padding-right: 1rem;
		line-height: 1.5em;
	}

	.title {
		margin-top: 4rem;
		text-transform: uppercase;
	}

	.subtitle {
		font-size: .85rem;
		margin-top: .5rem;
		margin-bottom: 4rem;
		letter-spacing: 0.05rem;
	}

	.card__grid {
		padding-left: 30px;
		padding-right: 30px;

		display: grid;
	  grid-gap: 60px;
	  grid-template-columns: repeat(auto-fill, minmax(180px, 1fr));

	  @include media-mobile {
			grid-template-columns: repeat(auto-fill, minmax(120px, 1fr));	  	
	  }

	  .card {
	  	background: red;
	  	height: 400px;
	  }
	}
}

.section--advisory {
	@include max-width;
	padding-bottom: 4rem;

	.title, .subtitle {
		font-family: $normal-font-family;
		text-align: center;
		padding-left: 1rem;
		padding-right: 1rem;
		line-height: 1.5em;
	}

	.title {
		margin-top: 4rem;
		text-transform: uppercase;
	}

	.subtitle {
		font-size: .85rem;
		margin-top: .5rem;
		margin-bottom: 4rem;
		letter-spacing: 0.05rem;
	}
}

.section--public-speaking {
	@include max-width;
	padding-bottom: 4rem;

	.title, .subtitle {
		font-family: $normal-font-family;
		text-align: center;
		padding-left: 1rem;
		padding-right: 1rem;
		line-height: 1.5em;
	}

	.title {
		margin-top: 4rem;
		text-transform: uppercase;
	}

	.subtitle {
		font-size: .85rem;
		margin-top: .5rem;
		margin-bottom: 4rem;
		letter-spacing: 0.05rem;
	}
}

.section--outside {
	padding-bottom: 4rem;

	.title, .subtitle {
		font-family: $normal-font-family;
		text-align: center;
		padding-left: 1rem;
		padding-right: 1rem;
		line-height: 1.5em;
	}

	.title {
		margin-top: 4rem;
		text-transform: uppercase;
	}

	.subtitle {
		font-size: .85rem;
		margin-top: .5rem;
		margin-bottom: 4rem;
		letter-spacing: 0.05rem;
	}
}

.section--contact {
	background-color: $font-color;
	color: #fff;
	padding-bottom: 4rem;

	.title, .subtitle {
		font-family: $normal-font-family;
		text-align: center;
		padding-left: 1rem;
		padding-right: 1rem;
		line-height: 1.5em;
	}

	.title {
		padding-top: 4rem;
		text-transform: uppercase;
	}

	.subtitle {
		font-size: .85rem;
		margin-top: .5rem;
		margin-bottom: 4rem;
		letter-spacing: 0.05rem;
	}
}