@use 'html/assets/css/reset';
@use 'html/assets/css/base' as *;

$font-color: #695634;
$font-color-darker: #493614;
$background-color: #EDE5DC;

$normal-font-family: 'Libre Caslon', cursive;
$primary-font-family: 'Metropolis', sans-serif;

body, html {
	position: relative;
	background-color: #ffffff;
	color: $font-color;
	
	@include serif-font;
	font-size: 14px;
	line-height: 21px;
}

h1, h2, h3, h4, h5, h6 {
	@include sans-font;
}

.section {
	.section__title {
		@include sans-font($text-transform: uppercase, $font-weight: bold);
		text-align: center;
	}

	.section__subtitle {
		@include sans-font($font-size: .85rem, $letter-spacing: .05rem);
		margin-top: 5px;
		margin-bottom: 4rem;
		text-align: center;

		&.light {
			margin-top: 2px;
		}
	}
}

/**
 * First fold styling goes here
 */
.section--first-fold {
	background-color: $background-color;

	@include media-mobile {
		max-width: calc(100vw - 40px);
	}

	@include media-desktop {
		max-width: calc(100vw - 80px);
	}

	@include media-md {
		height: calc(100vh - 140px);
	}

	@include media-hd {
		height: 580px;
	}

	.fold__main {
		@include media-mobile {
			display: flex;
			flex-direction: column;
		}

		@include media-desktop {
			position: relative;
			margin: 0 auto;
		}

		@include media-hd {
			max-width: 900px;
			height: 300px;
		}
	}

	.title {
		@include sans-font;
		text-transform: uppercase;

		@include media-mobile {
			padding: 3rem 0 2rem 3rem;
			font-size: 1.5rem;
		}

		@include media-desktop {
			position: absolute;
			font-size: 1.5rem;
			font-weight: lighter;
			top: calc(70px - 1.5rem);
		}

		@include media-md {
			left: 80px;
		}

		@include media-hd {
			left: 0;
		}
	}

	.greeting {
		@include serif-font;

		@include media-mobile {
			font-size: 1.75rem;
			line-height: 1.3em;
			align-self: flex-end;
			max-width: calc(80% - 1rem);
			padding: 1rem 1rem 1rem 0;
		}

		@include media-desktop {
			position: absolute;
			font-size: 2.25rem;
			line-height: 1.4em;
			max-width: 285px;
			top: 120px;
		}

		@include media-md {
			left: 720px;
		}

		@include media-hd {
			left: 600px;
		}
	}

	.image--avatar-1 {
		display: block;
		overflow: hidden;

		@keyframes shaker {
			10%, 90% {
				transform: translate2d(5px, 0);
			}

			20%, 80% {
				transform: translate2d(-5px, 5px);
			}

			30%, 50%, 70% {
				transform: translate2d(5px, -5px);
			}

			40%, 60% {
				transform: translate2d(0, 5px);
			}
		}

		.image {
			position: absolute;
			left: 0; right: 0;
			top: 0; bottom: 0;
			background-repeat: no-repeat;
			background-position: center center;
			background-size: cover;

			max-width: 480px;
		}

		.webm {
			background-image: url(../img/sasha.webm);
		}

		.alt1 {
			background-image: url(../img/sasha-1.jpg);
		}

		.alt2 {
			background-image: url(../img/sasha-1.jpg);
		}

		.alt3 {
			background-image: url(../img/sasha-1.jpg);
			
			&:hover {
				animation: shaker 0.3s cubic-bezier(.36,.07,.19,.97) both;	
			}
			
		}

		@include media-mobile {
			align-self: flex-end;
		}

		@include media-desktop {
			position: absolute;
			width: 480px;
			height: 380px;
			top: 120px;
		}

		@include media-md {
			left: 180px;
		}

		@include media-hd {
			left: 70px;
		}
	}

	.image--avatar-2 {
		background-color: #ccc;

		@include media-mobile {
			margin-left: 2rem;	
			margin-bottom: -2rem;
		}

		@include media-desktop {
			position: absolute;
			width: 380px;
			height: 200px;
			top: 420px;
		}

		@include media-md {
			left: 440px;
		}

		@include media-hd {
			left: 330px;
		}
	}

	// Child element ordering
	@include media-mobile {
		.title 						{ order: 1; }
		.greeting 				{ order: 3; }
		.image--avatar-1 	{ order: 2; }
		.image--avatar-2 	{ order: 4; }
	}
}

/**
 * Nav section styling goes here
 */
.section--nav {
	@include media-mobile {}

	@include media-desktop {
		margin-right: 100px;
		margin-top: 65px;
	}

	.menu--overlay {
		background-color: rgba(0, 0, 0, 0.7);

		@include media-mobile {
			position: fixed;
			right: 0; top: 0;
			transition: all .3s;
		}

		@include media-desktop {
			display: none;
		}
	}

	#drawer-toggle {
		opacity: 0;
	}

	.menu {
		@include media-mobile {
			position: fixed;
			top: 0;
			right: -70vw;
			width: 80vw;

			background-color: #fff;
			transition: right .3s;

			.burger {
				display: block;
				width: 24px; height: 24px;
				margin: .5rem;

				user-select: none;
				-webkit-touch-callout: none; 
				-webkit-user-select: none; 
				-khtml-user-select: none; 
				-moz-user-select: none; 
				-ms-user-select: none; 

				@include media-desktop {
					display: none;
				}
			}
		}

		@include media-desktop {
			text-align: right;
		}

		.item {
			@include sans-font($text-transform: uppercase);

			text-decoration: none;
			color: $font-color;

			@include media-mobile {
				display: none;
				padding: 1rem 1.5rem;
			}

			@include media-desktop {
				margin-left: 5%;
			}
		}
	}

	#drawer-toggle:checked ~ .menu {
		@include media-mobile {
			right: 0;
			height: 100vh;
		}
	}

	#drawer-toggle ~ .menu .burger {
		@include media-mobile {
			background: url(../img/burger-button.svg) no-repeat;
		}
	}

	#drawer-toggle:checked ~ .menu .burger {
		@include media-mobile {
			background: url(../img/close-button.svg) no-repeat;
		}	
	}

	#drawer-toggle:checked ~ .menu--overlay {
		@include media-mobile {
			left: 0; right: 0;
			top: 0; bottom: 0;
		}
	}

	#drawer-toggle:checked ~ .menu .item {
		@include media-mobile {
			display: block;
		}
	}
}

.section--awards {
	margin-top: 65px;

	.awards__list {
		padding: 0;
		margin: 0 0 4rem 0;

		.item {
			@include serif-font;
			padding: .5rem 0;

			@include media-mobile {
				font-size: 1.35rem;
				line-height: 1.1em;
				padding-right: 10px;
				margin-left: -10px;
			}

			@include media-desktop {
				font-size: 2rem;
				line-height: 1.4em;
			}
		}
	}

	.awards__main {
		background-color: $background-color;
		padding: 1rem;
		text-align: center;

		@include media-mobile {
			margin-left: 40px;
			padding-left: 2rem;
			padding-right: 2rem;
		}

		@include media-desktop {
			margin-left: 80px;
			height: 720px;
		}
	}

	// Overrides
	.section__title {
		margin-top: 100px;
	}

	.section__subtitle {
		margin-bottom: 90px;
	}
}

.section--development {
	@include max-width($width: 1100px);
	
	padding-bottom: 4rem;
	margin-top: 120px;

	.card__grid {
		display: grid;
	  grid-gap: 60px;

	  @include media-mobile {
			padding-left: 10px;
			padding-right: 10px;
			grid-gap: 10px;
			grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
	  }

	  @include media-desktop {
	  	grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
	  }

	  .card {
	  	.title {
	  		@include serif-font($font-size: 1.5rem);
	  		text-align: center;
	  		margin: 0 0 1rem 0;
	  	}

	  	.image {
	  		display: block;
	  		width: 100%;
	  		height: 380px;
	  		background-color: #ccc;
	  		margin-bottom: 1.5rem;

	  		@include media-mobile {
	  			height: 300px;
	  		}

	  		@include media-desktop {
	  			height: 250px;
	  		}
	  	}

	  	.row {
	  		display: flex;
	  		align-items: flex-start;
	  		margin-bottom: 1rem;

	  		& > * {
	  			display: block;
	  		}

	  		.title {
	  			@include sans-font($font-size: .8rem, $font-weight: bold, $letter-spacing: .05rem);
	  			text-align: left;

	  			position: relative;
	  			flex-basis:  5rem;
	  			min-width: 5rem;
	  			width: 5rem;

	  			margin: 0 1rem 0 0;

	  			&:after {
	  				content: ':';
	  				position: absolute;
	  				right: -.5rem;
	  				top: 0;
	  			}
	  		}

	  		.main {
	  			@include sans-font($font-size: .8rem);

	  			flex-shrink: 1;
	  			padding-right: 1rem;

	  			ul {
	  				list-style-type: '-';
	  				padding-left: .5rem;

	  				li {
	  					padding-left: .5rem;
	  				}
	  			}
	  		}

	  		@include media-mobile {
	  			.title, .main {
	  				font-size: .75rem;
	  				padding: 0 .5rem;
	  			}

	  			.title {
	  				width: 40px;
	  				min-width: 40px;
	  				flex-basis: 40px;
	  				margin-right: .5rem;

	  				&:after {
	  					right: -.25rem;
	  				}
	  			}
	  		}
	  	}
	  }
	}
}

.section--advisory {
	@include max-width($width: 1280px);
	
	padding-bottom: 4rem;
	margin-top: 120px;

	position: relative;

	// Override
	.section__subtitle {
		margin-bottom: 2rem;
	}

	.expertise__list {
		display: flex;

		@include media-mobile {
			flex-wrap: wrap;
			flex-direction: column;
		}

		@include media-desktop {
			justify-content: space-between;
		}

		.card {
			top: 0;

			background: $background-color;
			padding: 2rem;
			
			@include media-mobile {
				margin-bottom: 2rem;

				&:first-child {
					margin-right: 40px;
				}

				&:last-child {
					margin-left: 40px;
				}
			}

			@include media-desktop {
				width: 550px;
				padding-bottom: 1rem;

				&:first-child {
					margin-top: 90px;
				}

				&:last-child {
					margin-bottom: 90px;
				}
			}

			.title {
				@include serif-font($font-size: 1.5rem);
				text-align: center;
			}

			.subtitle {
				@include sans-font($font-size: .85rem, $text-transform: uppercase, $letter-spacing: .05rem);
				margin-top: 2px;
				text-align: center;
			}

			.image {
				background-repeat: no-repeat;
				background-size: cover;
				background-color: #ccc;
				height: 250px;
				margin: 2rem 0;

				@include media-mobile {
					margin: 2rem 0;
				}

				@include media-desktop {
					margin: 2rem auto;
					max-width: 450px;
				}
			}

			.row {
	  		display: flex;
	  		align-items: flex-start;
	  		margin-bottom: 1rem;

	  		& > * {
	  			display: block;
	  		}

	  		@include media-desktop {
	  			max-width: 450px;
	  			margin-left: auto;
	  			margin-right: auto;
	  		}

	  		.label {
	  			@include sans-font($font-size: .85rem, $font-weight: bold);

	  			margin: 0 1rem 0 0;
	  			padding: unset;
	  			width: 4rem;
	  			min-width: 4rem;
	  			flex-basis:  5rem;
	  			position: relative;
	  			padding-left: 1rem;

	  			&:after {
	  				content: ':';
	  				position: absolute;
	  				right: -.5rem;
	  				top: 0;

	  			}
	  		}

	  		.main {
	  			@include sans-font($font-size: .85rem);

	  			padding-right: 1rem;

	  			flex-shrink: 1;

	  			ul {
	  				list-style-type: '-';
	  				padding-left: .5rem;

	  				li {
	  					padding-left: .5rem;
	  				}
	  			}
	  		}

	  		@include media-mobile {
	  			.title, .main {
	  				font-size: .75rem;
	  				padding: 0 .5rem;
	  			}

	  			.title {
	  				width: 40px;
	  				min-width: 40px;
	  				flex-basis: 40px;
	  				margin-right: .5rem;

	  				&:after {
	  					right: -.25rem;
	  				}
	  			}
	  		}
	  	}
		}
	}

	.cta {
		@include serif-font($font-size: 1.5rem);

		display: block;
		text-align: center;
		background-color: $font-color;
		color: #fff;
		text-decoration: none;
		padding: 1rem 2rem;
		width: 100%;

		@include media-mobile {
			width: 80%;
		}

		@include media-desktop {
			position: absolute;
			bottom: 70px; right: 20px;
			width: calc(50% + 50px);
		}
	}
}

.section--expertise {
	@include max-width($width: 1200px);
	padding: 0 1rem 4rem 1rem;
	margin-top: 120px;

	@include media-mobile {
		// margin-left: 10px;
		// margin-right: 10px;
	}

	@include media-md {
		// margin-left: 10px;
		// margin-right: 10px;
	}

	.grid-item {
		background-color: $background-color;
		text-align: center;
		padding: 1rem 2rem;
		box-shadow: rgba(0, 0, 0, 0.15) 0px 2px 5px;

		@include media-mobile {
			font-size: .8rem;
			line-height: 1.5em;
		}
	}

	.cta {
		@include serif-font($font-size: 1.5rem);

		display: block;
		text-align: center;
		background-color: $font-color;
		color: #fff;
		text-decoration: none;
		padding: 1rem 2rem;

		margin: 4rem auto 8rem auto;
		
		max-width: 400px;
	}

	// .cards {
	// 	display: grid;
	//   grid-gap: 30px;
	//   grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
	//   margin-bottom: 2rem;

	//   .item {
	//   	background-color: $background-color;
	  	
	//   	text-align: center;

	//   	@include serif-font($line-height: 1.2em);
	  	
	//   	display: flex;
	//   	flex-direction: column;
	//   	justify-content: center;

	//   	box-shadow: rgba(0, 0, 0, 0.15) 0px 5px 15px;

	//   	@include media-mobile {
	//   		font-size: 1rem;
	//   		height: 100px;
	//   		padding: 1rem;
	//   		margin: 0;

	//   		&:nth-child(1) {

	//   		}
	//   	}

	//   	@include media-desktop {
	//   		font-size: 1.5rem;
	//   		height: 200px;
	//   		padding: 2rem;

	//   		&:nth-child(1) {
	// 	  		margin-right: 20px;
	// 	  		z-index: 100;
	// 	  	}

	// 	  	&:nth-child(2) {
	// 	  		height: calc(200px - 100px);
	// 	  		margin-top: 40px;
	// 	  		margin-left: -100px;
	// 	  		margin-right: 50px;
	// 	  		z-index: 104;
	// 	  	}

	// 	  	&:nth-child(3) {
	// 	  		z-index: 101;
	// 	  		height: calc(200px - 50px);
	// 	  		margin-left: -50px;
	// 	  		margin-right: 20px;
	// 	  	}

	// 	  	&:nth-child(4) {
	// 	  		height: calc(200px - 100px);
	// 	  		margin-top: -10px;
	// 	  		margin-left: 50px;	
	// 	  		z-index: 102;
	// 	  	}

	// 	  	&:nth-child(5) {
	// 	  		margin-top: -100px;
	// 	  		z-index: 103;
	// 	  	}

	// 	  	&:nth-child(6) {
	// 	  		z-index: 102;
	// 	  		margin-left: -50px;
	// 	  		height: calc(200px - 10px);
	// 	  	}
	//   	}
	//   }
	// }

	// .cta {
	// 	display: block;
	// 	max-width: 800px;
	// 	text-align: center;
	// 	background-color: $font-color;
	// 	color: #fff;
	// 	text-decoration: none;
	// 	padding: 1rem 2rem;
		
	// 	font-family: $normal-font-family;
	// 	font-size: 1.5rem;

	// 	@include media-mobile {
	// 		width: 80%;
	// 	}

	// 	@include media-desktop {
	// 		width: calc(1120px - 450px);
	// 		margin-top: -90px;
	// 	}
	// }
}

.section--public-speaking {
	@include max-width($width: 1200px);
	padding-bottom: 4rem;

	.speaking__grid {
		display: grid;
	  grid-gap: 60px;
	  grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
	  margin-bottom: 2rem;

	  @include media-mobile {
			padding-left: 10px;
			padding-right: 10px;
			grid-gap: 10px;
			grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
			margin-bottom: 2rem;
	  }

	  .card {
		  .image {
		  	background-color: #ccc;
		  	height: 300px;
		  }

		  .title {
		  	margin: 0 0 2rem 0; padding: 1rem 0 0 0;
		  	text-transform: unset;
		  }
	  }
	}

	.cta {
		@include serif-font($font-size: 1.5rem);

		display: block;
		text-align: center;
		background-color: $font-color;
		color: #fff;
		text-decoration: none;
		padding: 1rem 2rem;

		margin: 4rem auto;
		
		max-width: 400px;
	}
}

.section--outside {
	padding-top: 2rem;
	padding-bottom: 4rem;
	background-color: $background-color;

	.loading {
		@include max-width;
		@include sans-font;
		text-align: center;
	}
}

.section--contact {
	background-color: $font-color;
	color: $background-color;
	padding-bottom: 30px;
	padding-top: 80px;

	// Override
	.section__subtitle {
		margin-bottom: 100px;
	}

	.socials {
		@include max-width($width: 800px);
		display: flex;
		justify-content: space-evenly;
		margin-bottom: 100px;

		.item {
			text-align: center;

			svg {
				background-color: #ccc;
			}
		}

		.fas, .fab {
			background-color: #888;
			border-radius: 5px;
			width: 48px;
			line-height: 48px;
			font-size: 2rem;
			text-align: center;
		}

		.title {
			margin: unset; padding: 1rem 0 0 0;
			@include serif-font($font-size: 1.5rem);
		}
	}

	.copyright {
		@include sans-font($font-size: .8rem);

		text-align: center;

		.main {
			line-height: 1.5em;
		}

		.sub {
			margin-top: 2rem;
			color: #aaa;
		}
	}
}

.masonry-grid {
	/* Main CSS */
	.grid-wrapper > .grid-item {
		display: flex;
		justify-content: center;
		align-items: center;
	}

	.grid-wrapper > .grid-item > img {
		width: 100%;
		height: 100%;
		object-fit: cover;
		border-radius: 5px;
	}

	.grid-wrapper {
		display: grid;
		grid-gap: 10px;
		grid-auto-flow: dense;

		@include media-mobile {
			grid-template-columns: repeat(auto-fit, minmax(120px, 1fr));
			grid-auto-rows: 120px;
		}

		@include media-desktop {
			grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
			grid-auto-rows: 150px;
		}
	}

	.grid-wrapper .wide {
		grid-column: span 2;
	}

	.grid-wrapper .tall {
		grid-row: span 2;
	}

	.grid-wrapper .big {
		grid-column: span 2;
		grid-row: span 2;
	}


	// Breakpoints
	@mixin masonry-1083 { 
		@media (min-width: 915px) and (max-width: 1083px) { 
			@content;
		} 
	}

	@mixin masonry-914 {
		@media (min-width: 813px) and (max-width: 914px) {
			@content;
		}
	}

	@mixin masonry-682 {
		@media (min-width: 553px) and (max-width: 682px) {
			@content;
		}
	}

	@mixin masonry-552 {
		@media (min-width: 423px) and (max-width: 552px) {
			@content;
		}
	}

	@mixin masonry-422 {
		@media (max-width: 422px) {
			@content;
		}
	}

	.grid-wrapper .fo-1083 {
		@include masonry-1083 {
			grid-row: span 2;
		}
	}

	.grid-wrapper .fo-914 {
		@include masonry-914 {
			grid-column: span 3;
		}
	}

	.grid-wrapper .fo-914b {
		@include masonry-914 {
			grid-row: span 2;
		}
	}

	.grid-wrapper .fo-682 {
		@include masonry-682 {
			grid-row: span 1;
		}
	}

	.grid-wrapper .fo-682b {
		@include masonry-682 {
			grid-column: span 1;
		}
	}

	.grid-wrapper .fo-552 {
		@include masonry-552 {
			grid-row: span 1;
		}
	}

	.grid-wrapper .fo-422 {
		@include masonry-422 {
			grid-row: span 1;
		}
	}

	.grid-wrapper .fo-422b {
		@include masonry-422 {
			grid-column: span 1;
		}
	}
}